<!--
    标题:学习ES6的增强语法
    时间:2020.4.27
    内容:见注释
    BY:吴烈清
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习ES6的增强语法</title>
</head>
<body>
<script>
    /*
    es5对象定于语法：
     */

    // var name = "xiaoqiang";
    // var age = "16";
    // var obj=new Object({
    //     name:name,
    //     age:age,
    // })

    //es6增强语法（属性）
    const name = "小羊";
    const age = 16;
    const obj={
        name,
        age,
    }
    console.log(obj);

    /**
     * 函数增强写法
     * es5：方法名：function（）{}；
     * es6：方法名（）{}；
     */
</script>
</body>
</html>